@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-green: #006953;
  --color-lime: #a3e953;
}

* {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  details[open] summary {
    background-color: white;
    color: var(--color-green);
  }

  .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }
}

